[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor = ">=3.3.0"
python-dotenv = ">=1.2.2"
PyGithub = ">=2.8.1"
PyYAML = ">=6.0.3"
github-automation = {file = ".", editable = true}

[dev-packages]
pytest = ">=9.0.2"
