[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
termcolor=">=2.3.0"
python-dotenv = ">=1.0.0"
PyGithub = ">=2.1.1"
PyYAML = ">=6.0.1"
pytest = ">=7.4.2"
github-automation = {file = ".", editable = true}

[dev-packages]
